<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Seek Doctor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>


<body>
    <div class="container" style="margin-top: 5vh;">
        <ul class="list-group" style="height: 80vh;  overflow-y: auto;" id="messages">
        </ul>

        <div class="input-group" >
            <input type="text" style="text-align: right" class="form-control" id="user_input" name="user_input" placeholder="Say something" />
            <span class="input-group-btn"><button class="btn btn-default" id="send_button"><i class="glyphicon glyphicon-send"></i></button><button class="btn btn-default" id ="speech_rec">說話</button></span>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script>if (window.module) module = window.module;</script>
<script>

     turn = 0;
    var bot_message = ['<li class="list-group-item" data=0 style="text-align: left">',
    'TEXT',
    '<button id="ms_api_r" class="btn btn-default" style="text-align: right">播放</button>',
    '</li>'];

    var user_message = ['<li class="list-group-item" data=1 style="text-align: right">',
    'TEXT',
    '<button class="btn btn-default" id="ms_api" >播放</button>',
    '</li>'];
    function sendMessage(event) { 
            console.log('start')
            var user_input = $('#user_input').val();
            $btn = $('<button class="btn btn-default" id="ms_api">').text('播放').attr('data-id',turn)
            $user_mes = $('<li class="list-group-item" style="text-align:right">').attr('data-id',turn).append(user_input).append($btn)
            var post_data = {
                'message' : user_input
            }
            $('#messages').append($user_mes);
            $('#user_input').val('');
            $('#messages').scrollTop($('ul li').last().position().top + $('ul li').last().height());
           function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }   
    });
            $.ajax({
                url:'/query/', 
                type: 'GET',
                data: post_data,
                contentType: 'application/json;charset=utf-8',
                success: function(data) {
                    console.log(post_data)
                   
                    var result = JSON.parse(JSON.stringify(data));
                    if (result.error){
                        console.log(result.error_text);
                    }
                    console.log(result);
                    $btn = $('<button id="ms_api"class="btn btn-default" style="text-align:right">').text("播放").attr('data-id',turn)
                    $li = $('<li class="list-group-item" style="text-align:left">').attr('data-id',turn).append(result).append($btn)
                    turn +=1
                    //var text = bot_message.join('\n').replace('TEXT', result);//.replace(0,ii);
                    //text['data'] = '1';
                    $('#messages').append($li);
                    $('#messages').scrollTop($('ul li').last().position().top + $('ul li').last().height());
                }
            });
           turn +=1; //turn is used for identify id
            return false;
        console.log('send_end')
    };

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    };


function text_translator(query){
    appId = "4b89fe9b52954d829ef4eb0dadee6a94";
    langFrom = "zh-cn";
    langTo = "en";
    var uri = "https://api.cognitive.microsoft.com/sts/v1.0/"+appId;
   // $.ajax({
   //     url:uri,
   //     type:'POST',
   //     success:function(data){
   //         console.log("post translotor")
   //         console.log(data)
   //     }
   // });
};

const synthesis = window.speechSynthesis;
function speak(message){
    const word = new SpeechSynthesisUtterance(message);
    const voices = synthesis.getVoices();
    for (i = 0; i<voices.lenth;i++){
        if(voices[i].name ==="Google 國語（臺灣）"){
        word.voice = voices[i];
        }
        }

word.rate = 1.5;
word.pitch = 1.1;
synthesis.speak(word);
}

    var recognition = new webkitSpeechRecognition();
    recognition.continuous = true;

    //const recognition = new SpeechRecognition();
function Recognition(){
    recognition.lang='zh-TW';
    recognition.start();
    console.log('Ready to receive...');
}

function showInfo(s) {
  if (s) {
    for (var child = info.firstChild; child; child = child.nextSibling) {
      if (child.style) {
        child.style.display = child.id == s ? 'inline' : 'none';
      }
    }
    info.style.visibility = 'visible';
  } else {
    info.style.visibility = 'hidden';
  }
}

var current_style;
function showButtons(style) {
  if (style == current_style) {
    return;
  }
  current_style = style;
  copy_button.style.display = style;
  email_button.style.display = style;
  copy_info.style.display = 'none';
  email_info.style.display = 'none';
}


recognition.onresult = function(event) {
  // The SpeechRecognitionEvent results property returns a SpeechRecognitionResultList object
  // The SpeechRecognitionResultList object contains SpeechRecognitionResult objects.
  // It has a getter so it can be accessed like an array
  // The [last] returns the SpeechRecognitionResult at the last position.
  // Each SpeechRecognitionResult object contains SpeechRecognitionAlternative objects that contain individual results.
  // These also have getters so they can be accessed like arrays.
  // The [0] returns the SpeechRecognitionAlternative at position 0.
  // We then return the transcript property of the SpeechRecognitionAlternative object
var interim_transcript = '';
    if (typeof(event.results) == 'undefined') {
      recognition.onend = null;
      recognition.stop();
      upgrade();
      return;
    }
for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    final_transcript = capitalize(final_transcript);
    final_span.innerHTML = linebreak(final_transcript);
    interim_span.innerHTML = linebreak(interim_transcript);
    if (final_transcript || interim_transcript) {
      showButtons('inline-block');
    }
  

  var last = event.results.length - 1;
  var color = event.results[last][0].transcript;

  diagnostic.textContent = 'Result received: ' + color + '.';
  bg.style.backgroundColor = color;
  console.log('Confidence: ' + event.results[0][0].confidence);
}

recognition.onspeechend = function() {
recognition.stop();
}





var csrftoken = getCookie('csrftoken');


   $(document).ready(function() {
        text='hi';
        $('#translate').click(text_translator(text));
        $('#send_button').click(turn,sendMessage);
        $('#speech_rec').click(Recognition());
        $('#user_input').on('keyup blur', function () {
            if($('#user_input').val().length > 0) {
                $('#send_button').prop('disabled', false); 
            } else {
                $('#send_button').prop('disabled', 'disabled'); 
            }
        });
        $('#messages').on('click','#ms_api',function(){
        console.log('button');
        id = $(this).attr('data-id')
        text = $("li[data-id="+id+"]").text().replace('播放','') //- $(this).text()
        console.log(id)      
        console.log(typeof(text))
        speak(text)
        $.ajax({
        url:'/ms_api',
        type:'GET',
        data:{'status':'ok'},
        contentType:'application/json',
        success:function(){console.log('send api')}       
        })
        return false;

      });
    });

</script>

</html>
