<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Seek Doctor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>


<body>
    <div class="container" style="margin-top: 5vh;">
        <ul class="list-group" style="height: 80vh;  overflow-y: auto;" id="messages">
        </ul>

        <div class="input-group" >
            <input type="text" style="text-align: right" class="form-control" id="user_input" name="user_input" placeholder="Say something" />
            <span class="input-group-btn"><button class="btn btn-default" id="send_button"><i class="glyphicon glyphicon-send"></i></button></span>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script>
     turn = 0;
    var bot_message = ['<li class="list-group-item" data=0 style="text-align: left">',
    'TEXT',
    '<button id="ms_api_r" class="btn btn-default" style="text-align: right">播放</button>',
    '</li>'];

    var user_message = ['<li class="list-group-item" data=1 style="text-align: right">',
    'TEXT',
    '<button class="btn btn-default" id="ms_api" >播放</button>',
    '</li>'];
    function sendMessage(event) { 
            console.log('start')
            var user_input = $('#user_input').val();
            $btn = $('<button class="btn btn-default" id="ms_api">').text('播放').attr('data-id',turn)
            $user_mes = $('<li class="list-group-item" style="text-align:right">').attr('data-id',turn).append(user_input).append($btn)
            var post_data = {
                'message' : user_input
            }
            $('#messages').append($user_mes);
            $('#user_input').val('');
            $('#messages').scrollTop($('ul li').last().position().top + $('ul li').last().height());
           function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }   
    });
            $.ajax({
                url:'/query/', 
                type: 'GET',
                data: post_data,
                contentType: 'application/json;charset=utf-8',
                success: function(data) {
                    console.log(post_data)
                   
                    var result = JSON.parse(JSON.stringify(data));
                    if (result.error){
                        console.log(result.error_text);
                    }
                    console.log(result);
                    $btn = $('<button id="ms_api"class="btn btn-default" style="text-align:right">').text("播放").attr('data-id',turn)
                    $li = $('<li class="list-group-item" style="text-align:left">').attr('data-id',turn).append(result).append($btn)
                    turn +=1
                    //var text = bot_message.join('\n').replace('TEXT', result);//.replace(0,ii);
                    //text['data'] = '1';
                    $('#messages').append($li);
                    $('#messages').scrollTop($('ul li').last().position().top + $('ul li').last().height());
                }
            });
           turn +=1; //turn is used for identify id
            return false;
        console.log('send_end')
    };

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

const synthesis = window.speechSynthesis;
function speak(message){
    const word = new SpeechSynthesisUtterance(message);
    const voices = synthesis.getVoices();
    for (i = 0; i<voices.lenth;i++){
        if(voices[i].name ==="Google 國語（臺灣）"){
        word.voice = voices[i];
        }
        }

word.rate = 1.5;
word.pitch = 1;
synthesis.speak(word);
}

   $(document).ready(function() {
        $('#send_button').click(turn,sendMessage);
        $('#user_input').on('keyup blur', function () {
            if($('#user_input').val().length > 0) {
                $('#send_button').prop('disabled', false); 
            } else {
                $('#send_button').prop('disabled', 'disabled'); 
            }
        });
        $('#messages').on('click','#ms_api',function(){
        console.log('button');
        id = $(this).attr('data-id')
        text = $("li[data-id="+id+"]").text().replace('播放','') //- $(this).text()
        console.log(id)      
        console.log(typeof(text))
        speak(text)
        $.ajax({
        url:'/ms_api',
        type:'GET',
        data:{'status':'ok'},
        contentType:'application/json',
        success:function(){console.log('send api')}       
        })
        return false;

      });
    });

</script>

</html>
